.cf1971-workout-delete {
    font-size: .8;
    text-decoration: none;
    color: red;
}

.cf1971-workouts-list li {
    font-size: 1.2em;
    padding: 5px;
    border: 1px solid darkgray;
    cursor: move;
    background: white;
}

.cf1971-admin-settings-field {
    padding: 5px 5px 5px 160px;
}

.cf1971-admin-settings-label {
    float: left;
    margin: 0 0 0 -160px;
}

.cf1971-admin-settings-control input[type="email"] {
    width: 100%;
}